[Desktop Entry]
Version=1.0
Name=ShowSift
Comment=show Sift features on picam
Exec=/home/pi/motiontracker/rundetector.sh sift
Icon=applets-screenshooter-symbolic
Path=/home/pi/motiontracker
Terminal=true
Type=Application
Categories=Utility;Application;
